{% extends "jmutube-master.html" %}

{% block content %}

<h3>Help</h3>

<p>You can always contact Grover Saunders at 540-568-3572 or <a href="mailto:saundebn@jmu.edu" target="_blank">saundebn@jmu.edu</a> for questions, feedback, and help using the site. In addition, we've begun producing a series of screencasts to give you an overview of the system and its features.</p>

<p align="center">

<h3>JMUtube Video Basics</h3>

<div style="margin: 0px; padding: 0px; overflow: hidden; width: 480px; height: 400px;">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" width="480" height="400" id="jmutube" align="middle">
<param name="movie" value="http://jmutube.cit.jmu.edu/static/player/jmutube.swf" />
<param name="allowFullScreen" value="true" />
<param name="allScriptAccess" value="sameDomain" />
<param name="quality" value="high" />
<param name="scale" value="exactfit" />
<param name="loop" value="false" />
<param name="FlashVars" value="rssfeed=http://jmutube.cit.jmu.edu/content/cit/playlist/414/rss?player=jmutube" />
<object data="http://jmutube.cit.jmu.edu/static/player/jmutube.swf" height="400" type="application/x-shockwave-flash" width="480">
<param name="movie" value="http://jmutube.cit.jmu.edu/static/player/jmutube.swf" />
<param name="allowFullScreen" value="true" />
<param name="allScriptAccess" value="sameDomain" />
<param name="quality" value="high" />
<param name="scale" value="exactfit" />
<param name="loop" value="false" />
<param name="FlashVars" value="rssfeed=http://jmutube.cit.jmu.edu/content/cit/playlist/414/rss?player=jmutube" />
</object>
</object>
</div>


</p>

{% endblock %}
