{% extends "jmutube-master.html" %}

{% block content %}

<script type="text/javascript" src="{% url jmutube-static "swfupload/swfupload.js" %}"></script>
<script type="text/javascript" src="{% url jmutube-static "swfupload/plugins/swfupload.cookies.js" %}"></script> 
<script type="text/javascript" src="{% url jmutube-static "jquery/jquery.swfupload.js" %}"></script> 

<style>


#upload-queue {
    margin: 20px 0;
}

#upload-queue .file {
    float: left;
    clear: left;
    margin-right: 10px;
}

#upload-queue .upload-complete {    
    color: green;
}

#upload-queue .upload-failed {
    color: red;
}

#upload-progress {
    float: left;
    border: solid thin lightgrey;
    padding: 2px;
    height: 10px;
    margin-top: 2px;
}

#upload-progress div {
    background-color: blue;
    height: 10px;
}
</style>


<ul id="contentTabs">
    <li><a href="{% url jmutube-media "video" %}">Video</a></li>
    <li <a href="{% url jmutube-media "audio" %}">Audio</a></li>
    <li><a href="{% url jmutube-media "presentations" %}">Presentations</a></li>
    <li class="selectedTab" id="upload"><a href="{% url jmutube-upload %}">Upload</a></li>
    <li><a href="{% url jmutube-crass-schedules %}">CRASS Agenda</a></li>
    <li><a href="{% url jmutube-relay %}">Relay</a></li>
</ul>

<form method="post" action="" enctype="multipart/form-data" id="upload-control">
<span id="html-upload-control">{{ form.file.label }} {{ form.file }}<br /></span>
{{ form.tag.label }} {{ form.tag }}<br />
<span id="for_user_span">{{ form.for_user.label }} {{ form.for_user }}<br /></span>
<br /><input type="submit" name="SubmitButton" value="Submit" id="upload-button" />
</form>

<div id="upload-queue"></div>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $("#html-upload-control").hide();
    {% if not uploader %}
    $("#for_user_span").hide();
    {% endif %}
    $('#upload-control').swfupload({
		upload_url: "{{ request.get_full_path }}",
		file_size_limit : "512000",
		file_types : "*.mp4;*.mov;*.flv;*.mp3;*.m4a;*.zip",
		file_types_description : "All Supported Files",
		file_upload_limit : "0",
                file_post_name: "{{ form.file.name }}",
		flash_url : "{% url static "swfupload/Flash/swfupload.swf" %}",
		button_image_url : '{% url jmutube-static "images/upload_button.png" %}',
		button_width : 140,
		button_height : 26,
		button_placeholder : $('#upload-button')[0],
		debug: false,
		post_params : {swfupload : "true"}
	})
		.bind('swfuploadLoaded', function(event){
			$('#log').append('<li>Loaded<'+'/li>');
		})
		.bind('fileQueued', function(event, file){
			$('#log').append('<li>File queued - '+file.name+'<'+'/li>');
                        var div = $("<div id='upload-queue-" + file.id + "' class='file'>Uploading " + file.name + "<"+"/div>");
                        $('#upload-queue').append(div);
			// start the upload since it's queued
			$(this).swfupload('startUpload');
		})
		.bind('fileQueueError', function(event, file, errorCode, message){
			$('#upload-queue').append("<div>Cannot upload " + file.name + " - invalid file type.<"+"/div>");
			$('#log').append('<li>File queue error - '+message+'<'+'/li>');
		})
		.bind('fileDialogStart', function(event){
			$('#log').append('<li>File dialog start<'+'/li>');
		})
		.bind('fileDialogComplete', function(event, numFilesSelected, numFilesQueued){
			$('#log').append('<li>File dialog complete<'+'/li>');
		})
		.bind('uploadStart', function(event, file){
                        $(this).swfupload('removePostParam', '{{ form.tag.name }}');
                        $(this).swfupload('addPostParam', '{{ form.tag.name }}', $("#{{ form.tag.auto_id }}").val());

                        $(this).swfupload('removePostParam', '{{ form.for_user.name }}');
                        $(this).swfupload('addPostParam', '{{ form.for_user.name }}', $("#{{ form.for_user.auto_id }}").val());
                    
                        $('#upload-progress').remove();
                        $('#upload-queue-' + file.id).after($("<div id='upload-progress'><div><"+"/div><"+"/div>"));
                    
			$('#log').append('<li>Upload start - '+file.name+'<'+'/li>');
		})
		.bind('uploadProgress', function(event, file, bytesLoaded){
			$('#log').append('<li>Upload progress - '+bytesLoaded+'<'+'/li>');
                        
                        if (file.size > 0) {
                            var w = parseInt(200 * bytesLoaded / file.size);
                            $('#upload-progress').css('width', w + 'px')
                                                 .css('padding-right', (202 - w) + 'px');
                        }
		})
		.bind('uploadSuccess', function(event, file, serverData){
			$('#log').append('<li>Upload success - '+file.name+'<'+'/li>');
		})
		.bind('uploadComplete', function(event, file){
			$('#log').append('<li>Upload complete - '+file.name+'<'+'/li>');
                        
                        $('#upload-progress').replaceWith('<div class="upload-complete">Complete<'+'/div>');
                        
			// upload has completed, lets try the next one in the queue
			$(this).swfupload('startUpload');
		})
		.bind('uploadError', function(event, file, errorCode, message){
			$('#log').append('<li>Upload error - '+message+'<'+'/li>');
                        
                        $('#upload-progress').replaceWith('<div class="upload-failed">Error<'+'/div>');
		});

});

</script>


{% if debug %}
<ol id="log" style="display: none; clear: both; border: thin solid lightgrey; overflow: auto; max-height: 200px; margin-top: 20px;"></ol>
{% endif %}

<h4>JMUtube currently supports the following file types:</h4>
<ul>
	<li>
	<strong>Video:</strong>
	<ul>
		<li>.mp4 and .mov files using the H.264 and AAC codecs</li>
		<li>.flv files using the Sorenson Spark or On2 VP6 codec</li>
	</ul>
	</li>
	<li>
	<strong>Audio:</strong>
	<ul>
		<li>.mp3 files using a standardized sample rate</li>
		<li>AAC audio files with an .m4a extension</li>
	</ul>
	</li>	
	<li>
	<strong>Presentations:</strong>
	<ul>
		<li>.zip files produced by Camtasia, Adobe Presenter, or Adobe Captivate.</li>
		<li>Any zipped website with a file called index.html in the root directory.</li>
	</ul>
	</li>
</ul>
<h5>Tip: You can upload .m4v files by changing the extension to .mp4 before you upload.</h5>

{% endblock %}
