<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
<HEAD>
    <title>Preview</title>
</HEAD>
<body>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0" width="480" height="400" id="jmutube" align="middle">
	<param name="movie" value="http://jmutube.cit.jmu.edu/static/jmutube.swf" />
	<param name="allowFullScreen" value="true" />
	<param name="allScriptAccess" value="sameDomain" />
	<param name="quality" value="high" />
	<param name="scale" value="exactfit" />
	<param name="loop" value="false" />
	<param name="FlashVars" value="_autoPlay=true&_videoList=http://streaming.jmu.edu/flashvideo/{{ user }}/{{ type }}/{{ file }}" />
	<embed src="http://jmutube.cit.jmu.edu/static/jmutube.swf" width="480" height="400" align="middle" name="jmutube"
	   allowfullscreen="true" quality="high" scale="exactfit" type="application/x-shockwave-flash"
	   pluginspage="http://www.macromedia.com/go/getflashplayer" loop="false"
	   flashvars="_autoPlay=true&_videoList=http://jmutube.cit.jmu.edu/users/{{ user }}/{{ type }}/{{ file }}"
	/>
</object>


</body>
</HTML>
