{% extends "svohp-master.html" %}


{% block content %}
    <div class="feature">
      <p><span class="style39 style47"><span class="style41"><strong><a href="http://people.jmu.edu/kerrdx/OHIST/SVOHP.htm">SVOHP Resource Page</a></strong></span></span></p>
      <p>Students conducting interviews for SVOHP utilize this page to download consent and release forms, technology and style guides, and transcription templates. The page also includes links to transcription and audio editing software. </p>
      <p align="right"><a href="http://people.jmu.edu/kerrdx/OHIST/SVOHP.htm" class="style56">http://people.jmu.edu/kerrdx/OHIST/SVOHP.htm</a></p>
      <p><a href="http://delicious.com/kerrdx"><strong>SVOHP's links on delicious </strong></a><a href="http://informedrelief.com/index.html"></a></p>
      <p class="smallletter">Visit our SVOHP social booking marking site to get a glimpse into the wide variety of oral history projects that are on the web. </p>
      <p align="right" class="smallletter"><a href="http://delicious.com/kerrdx">http://delicious.com/kerrdx</a></p>
    </div>
{% endblock %}
