{% extends "svohp-master.html" %}


{% block content %}
    <div class="feature">
      <p><span><img src="{% url svohp-static 'images/Julia Patterson 3.jpg' %}" alt="Julia Patterson from Patterson's personal collection" width="251" height="248"><strong class="bigletter">T</strong></span>he Shenandoah Valley Oral History Project seeks to document the lives of people throughout the Valley whose stories have largely gone untold. Since the fall of 2005, James Madison University students have interviewed poultry farmers and processing workers, labor, civil rights and community activists, environmenalists, Native Americans, Latino immigrants, ex-offenders, homeless people, gays and bisexuals. The list continues to grow as students conduct more interviews. </p>
      <p>Initiated by the JMU History Department, the project seeks to bridge the gap between the university and the surrounding community. While students gather interviews and learn from neighborhood residents, the website seeks to provide narrators as well as a broad-based audience with ready access to these materials. </p>
      <p>While all the interviews posted on this website are in the public domain, please credit the interviewee, interviewer, and the Shenandoah Valley Oral History Project if you use all or any of these interviews in a manner other than for personal use. Most of these interviews are also archived at the Carrier Library's Department of Special Collections at James Madison University. </p>
      <p> Students engaged in the project currently are seeking to interview past and present people who have worked in the poultry industry (both farmers and processing workers) or people who lived or worked in the area cleared by the Harrisonburg urban renewal projects in the 1960s. If you or anyone you know might be interested in participating in this project, people contact Dr. Daniel Kerr at (540) 568-4673 or kerrdx@jmu.edu.</p>
    </div>
    <div class="story">    </div>
{% endblock %}
