{% extends "svohp-master.html" %}


{% block content %}
    <div class="feature">
      <p align="left" class="tight">Dr. Daniel Kerr, Director</p>
      <p align="left" class="tight">Department of History</p>
      <p align="left" class="tight">800 South Main St., MSC 2001</p>
      <p align="left" class="tight">James Madison University</p>
      <p align="left" class="tight">Harrisonburg, VA 22801</p>
      <p align="left" class="tight">(540) 568-4673 phone</p>
      <p align="left" class="tight">(540) 568-6556 fax </p>
      <p align="left" class="tight">kerrdx@jmu.edu</p>
    </div>
    <div class="story">    </div>
{% endblock %}
