body {
	background-color: white;
}
#banner {
	background-repeat: repeat-x;
	z-index: -1;
	left: 0px;
	background-image: url(../images/banner_background.jpg);
	width: 100%;
	height: 240px;
	top: 0px;
	position: absolute;
}

#banner h1 {
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-image: url(../images/logo.jpg);
	height: 240px;
	width: 740px;
	display: block;
	text-indent: -9999px;
}
#banner h2 {
	display: none;
}

#toolbar {
	background-repeat: repeat-x;
	background-image: url(../images/toolbar_background.jpg);
	z-index: 2;
	left: 0px;
	top: 0px;
	height: 30px;
	width: 100%;
	position: absolute;
	text-align: right;
}

#toolbar ul {
	background-image: url(../images/toolbar_menu_background.jpg);
	background-repeat: no-repeat;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 200px;
	height: 30px;
	margin-left: auto;
	margin-right: 20px;
}

#toolbar li {
	text-align: center;
	width: 25%;
	margin-top: 7px;
	float: left;
	display: block;
}

#toolbar a {
	text-decoration: none;
	color: black;
}
#toolbar a:link {
	text-decoration: none;
}
#toolbar a:visited {
	text-decoration: none;
}
#toolbar a:hover {
	text-decoration: underline;
}
#toolbar a:active {
	color: #666666;
	text-decoration: underline;
}
#sidebar {
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #74981c;
	position: absolute;
	width: 15em;
	top: 225px;
	right: 40px;
	z-index: 5;
}
#sidebar h4 {
	font-weight: bold;
	color: #74981c;
	font-size: 1.5em;
	margin-bottom: 0px;
	margin-left: 25px;
}
#sidebar h4 span {
	color: #000000;
}
#sidebar  p  {
	margin-left: 25px;
	text-align: justify;
}
#main {
	margin-right: 20em;
	padding-top: 225px;
	z-index: 6;
	margin-left: 150px;
	min-width: 350px;
}
#main h3 {
	font-weight: bold;
	color: #74981c;
	font-size: 1.5em;
	margin-bottom: 0px;
}
#main h3 span {
	color: #000000;
}

#main a {
	color: #74981c;
}

.progress-bar {
	background-color: #74981c;
	height: 20px;
	float: left;
	font-size: xx-small;
}

.progress-container {
	width: 300px;
	height: 20px;
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.progress-info {
	position: absolute;
}
