{% extends "furiousflower.html" %}

{% load data %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% url static 'flowplayer/flowplayer-3.2.0.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    flowplayer("player", "{% url static 'flowplayer/flowplayer-3.2.0.swf' %}");
});
</script>
{% endblock %}



{% block content %}

<div style="float: right;"><a href="{% url furiousflower-main %}">All Videos</a></div>

<h1>{{ record.title }}</h1>


<a href="{{ media.get_absolute_url }}" id="player"
style="display:block; width:{{ media.width|default:"520" }}px; height:{{ media.height|default:"330" }}px"></a> 



<div>
    {% metadata record %}
</div>


{% endblock %}