{% load ui %}
{% load analytics %}
{% load humanize %}
{% load compress %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript">
        document.documentElement.className = 'js-enabled';
    </script>
    <title>Furious Flower{% block title %}{% endblock %}</title>
{% block stylesheets %}
    <link href="{% url static 'css/reset.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% url static 'css/typography.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% url static 'jquery/jquery.autocomplete.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% url static 'jquery/jquery-ui-themeroller.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% url furiousflower-css %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
</head>

<body class="ui-reset master">


{% block raw-content %}
    <div id="content-wrapper">        
        <div id="content">
            <div style="margin-top: -40px; position: relative; z-index: 999;">
            <img src="{% url furiousflower-static 'logo.png' %}"/>
            </div>

{% if messages %}
<div id="messages">
    {% for message in messages %}
    <span>{{ message }}</span><br />
    {% endfor %}
</div>
{% endif %}

{% block content-top %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
            <br style="clear: both;" />
            <div id="footer">
                Copyright 1997-2010 James Madison University
            </div>
{% endblock %}

        </div>
    </div>
{% endblock %}


{% block header %}
    <div id="topmenu">
        <ul>
            <li><a href="http://www.jmu.edu/furiousflower/">Furious Flower Poetry Center</a></li>
        </ul>
    </div>    
    
    <div id="header-bar">
        <div class="spacer">
            <div id="header">
                
            </div>
        </div>        
    </div>
{% endblock %}


{% analytics %}

{% if debug %}<!--
{{ sql_queries|length }} queries:
{% for q in sql_queries %}
{{ q.sql }} ({{ q.time }})
{% endfor %}
-->
<div id="stats"><!-- STATS: Total: %(totTime).2fs <br/>Python: %(pyTime).2fs <br/>DB: %(dbTime).2fs <br/>Queries: %(queries)d --></div>
{% endif %}

{% block javascript %}
{% compress js %}
    <script type="text/javascript" src="{% url static 'jquery/jquery-1.4.1.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery-ui-1.7.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.hoverIntent.minified.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.ajaxmanager.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.autocomplete.pack.js' %}"></script>
    <script type="text/javascript" src="{% url static 'jquery/jquery.scrollTo-1.4.2-min.js' %}"></script>
    <script type="text/javascript">
        var ajaxManager = $.manageAjax.create('cacheQueue', { queue: true });
    </script>
    <script type="text/javascript" src="{% url static 'scripts/ui-scripts.js' %}"></script>
    <script type="text/javascript" src="{% url static 'scripts/json2.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endcompress %}
{% endblock %}
</body>

</html>
